{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-confirm/dist/jquery-confirm.min.css') }}"/>
{% endblock %}

{% block pagetitle %}{{ frontPage.name }} | {{ 'base.meta.title'|trans }}{% endblock %}

{% block description %}
    <meta name="description" content="{{ frontPage.metaDescription }}">
{% endblock %}

{% block og_image %}
    <meta name="og:image" content="https://www.keinegrenzen.org{{ asset(frontPage.cover.webPath) }}">
    <meta property="og:image:width" content="1920"/>
    <meta property="og:image:height" content="1080"/>
{% endblock %}

{% block og_description %}
    <meta name="og:description" content="{{ frontPage.metaDescription }}">
{% endblock %}

{% block bodyschema %}itemscope itemtype="http://schema.org/MusicGroup"{% endblock %}

{% block body %}

    {% include '@App/nav.html.twig' with {'index': false} %}

    <header class="container-fluid profile-header text-center"
            style="background-image: url({{ asset(frontPage.cover.webPath) }});">
        <div class="row align-items-center justify-content-center page-title {{ is_mobile()?'mobile':'' }}">
            {% if not is_mobile() %}
                <div class="video-container">
                    <video autoplay loop>
                        <source src="{{ asset(frontPage.video) }}" type="video/mp4">
                        {{ 'no-video'|trans }}
                    </video>
                </div>
            {% endif %}
            <div class="profile-header-content mb-4">
                <div class="rounded-circle image-container d-flex justify-content-center align-content-center sr sr-t-1">
                    <img src="{{ asset(frontPage.image.webPath) }}"
                         alt="{{ frontPage.name ~ ' - ' ~ 'frontpage.image'|trans }}" itemprop="image">
                </div>
                <div class="title-container py-5 px-1 sr sr-preserve sr-b-2">
                    <div class="d-block">
                        <h1>
                            <strong itemprop="name">{{ frontPage.name }}</strong>
                        </h1>
                        <hr/>
                        <h2>
                            <strong itemprop="genre">{{ frontPage.genre }}</strong> {{ 'from'|trans }} {{ frontPage.location }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="arrow-bounce pb-5 sr sr-b-3">
                <a class="fa fa-angle-double-down fa-2x fa-fw" href="#vita"></a>
            </div>
        </div>
    </header>

    <section class="container py-5 artist-bio" id="vita">
        <div class="row py-2">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>{{ 'profile.h2.bio'|trans }} & {{ 'profile.h2.albums'|trans }}</h2>
                <ul class="list-inline mb-4">
                    {% for link in frontPage.links %}
                        {% if link.getSocial is same as ('link') %}
                            <li class="list-inline-item">{{ link.getMarkup|raw }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for link in frontPage.links %}
                        {% if link.getSocial is not same as('link') %}
                            <li class="list-inline-item">{{ link.getMarkup|raw }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="vita text-big" itemprop="description">
                    {{ frontPage.vita|raw }}
                </div>
            </div>
            <div class="citations-container col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex">
                <div class="citations px-5 align-self-center text-big">
                    {{ frontPage.citations|raw }}
                </div>
            </div>
        </div>
    </section>

    <section class="container py-5 artist-discography">
        {% for album in frontPage.albums %}
            <div class="row py-2 my-2">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-2 album-art-container sr sr-b-1">
                    <div class="album-art" itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum"
                         data-uurl="{{ album.UURL }}">
                        <meta itemprop="description" content="{{ album.description }}"/>
                        <meta itemprop="genre" content="{{ frontPage.genre }}"/>
                        <div class="image-container d-flex justify-content-center align-content-center">
                            <img itemprop="image" src="{{ asset(album.cover.webPath) }}"
                                 alt="{{ album.title }} - Cover"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 px-2 album-details-container sr sr-b-2">
                    <div class="row album-details px-3 py-4 m-0"
                         style="background-color: {{ album.backgroundColor|raw }};
                                 color: {{ album.primaryColor|raw }} !important;
                                 border-color: {{ album.secondaryColor|raw }} !important;"
                    >
                        <div class="col-lg-6">
                            <h3 itemprop="name">{{ album.title }}</h3>
                            <p style="color: {{ album.secondaryColor|raw }} !important">{{ 'published'|trans }}
                                : {{ album.published|date('d.m.Y') }}</p>
                            <div class="description text-big">
                                {{ album.description|raw|nl2br }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row tracklist-title mb-2">
                                <h4 class="col-9">{{ 'tracklist'|trans }}</h4>
                                <a class="col-3 text-right"
                                   href="{{ album.soundcloud|raw }}"
                                   target="_blank" title="{{ 'listenOnSc'|trans }}">
                                        <span class="fa fa-2x fa-fw fa-soundcloud">
                                            <span class="sr-only">{{ 'listenOnSc'|trans }}</span>
                                        </span>
                                </a>
                            </div>
                            <div class="album-embed" id="album-embed-{{ loop.index0 }}"
                                 data-color-secondary="{{ album.secondaryColor|raw }}"
                                 data-sc="{{ album.soundcloud|raw }}" data-title="{{ album.title }}">
                                <div class="album-list">
                                    <ul class="list-group"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-primary pull-right toggle-dl-dialog mt-4 donate-external" target="_blank"
                               href="{{ path('donate_external') }}"
                               data-title="{{ 'download_dialog.title'|trans }}"
                               data-text="{{ 'download_dialog.text'|trans }}"
                               data-download="{{ 'download'|trans }}"
                               data-donate="{{ 'donate'|trans }}"
                               data-url="{{ path("download_album", {UURL: album.UURL}) }}"
                            >
                                {{ 'donate'|trans }} &amp; {{ 'download'|trans }}
                                <span class="badge badge-white">{{ album.downloads }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row py-2 my-5 global-player">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <span class="fa fa-backward fa-fw fa-2x">
                    <i class="sr-only">{{ 'backward'|trans }}</i>
                </span>
                <span class="fa fa-play fa-fw fa-2x">
                    <i class="sr-only">{{ 'play'|trans }}</i>
                </span>
                <span class="fa fa-pause fa-fw fa-2x initially-hidden">
                    <i class="sr-only">{{ 'pause'|trans }}</i>
                </span>
                <span class="fa fa-forward fa-fw fa-2x">
                    <i class="sr-only">{{ 'forward'|trans }}</i>
                </span>
            </div>
            <div class="col-md-8 d-none d-md-block progress-container">
                <div class="progress">
                    <div class="progress-bar active" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-8 col-xs-6 text-right">
                <p><span class="now-playing-elapsed"></span>/<span class="now-playing-length"></span></p>
            </div>
            <hr class="w-100"/>
            <div class="col-md-10 offset-md-2 col-xs-12">
                <p><span class="now-playing-album text-primary"></span> - <span class="now-playing-song"></span></p>
            </div>
        </div>
    </section>
    {% include '@App/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/soundcloud-audio/dist/soundcloud-audio.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-confirm/dist/jquery-confirm.min.js') }}"></script>
    <script src="{{ asset('bundles/app/dist/js/profile.min.js') }}"></script>
{% endblock %}