<!DOCTYPE html>
<html lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block pagetitle %}{{ 'base.meta.title'|trans }}{% endblock %}</title>
        {% block description %}
            <meta name="description" content="{{ 'base.meta.description'|trans }}">
        {% endblock %}
        <meta name="keywords" content="{% block keywords %}{{ 'base.meta.keywords'|trans }}{% endblock %}">
        <meta name="author" content="Barthy">
        <meta property="og:type" content="website"/>
        <meta name="og:title" content="{{ block('pagetitle') }}">
        {% block og_image %}
            <meta name="og:image" content="https://www.keinegrenzen.org{{ asset('bundles/app/images/logo_og.png') }}">
            <meta property="og:image:width" content="1000"/>
            <meta property="og:image:height" content="1000"/>
        {% endblock %}
        {#
        <meta property="og:locale{{ app.request.locale=='de'?'':':alternate' }}" content="de_DE"/>
        <meta property="og:locale{{ app.request.locale=='fr'?'':':alternate' }}" content="fr_FR"/>
        <meta property="og:locale{{ app.request.locale=='en'?'':':alternate' }}" content="en_US"/>
        #}
        <meta property="og:site_name" content="{{ 'mwb'|trans }}"/>
        {% block og_description %}
            <meta name="og:description" content="{{ 'base.meta.description'|trans }}">
        {% endblock %}
        {% set route = path(app.request.get('_route'), app.request.attributes.get("_route_params")) %}
        <link rel="canonical" href="https://www.keinegrenzen.org{{ route }}"/>
        <link rel="icon" href="https://www.keinegrenzen.org{{ asset('bundles/app/images/favicon.png') }}">
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap -->
        {% block stylesheets %}
            {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/bootstrap-social/bootstrap-social.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'bundles/app/css/bartstrap.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{% block bodyclass %}{% endblock %}" {% block bodyschema %}{% endblock %}>
        <noscript>{{ 'noscript'|trans }}</noscript>

        {% block body %}{% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        {% block javascripts %}
            {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'bundles/easyadmin/javascript/bootstrap.min.js'
            'assets/vendor/waypoints/lib/jquery.waypoints.min.js'
            '@AppBundle/Resources/public/js/bartstrap.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>