{% form_theme contactForm 'bootstrap_3_layout.html.twig' %}

{% block pagetitle %}{{ 'h2.contact.form'|trans }} | {{ 'base.meta.title'|trans }}{% endblock %}

<section id="kontakt" class="col-lg-6 col-sm-12">
    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans %}h2.contact.form{% endtrans %}</h2>
            <p>{% trans %}p.contact.form{% endtrans %}</p>
        </div>
    </div>
    <div class="row">
        {{ form_start(contactForm) }}
        <div class="col-lg-6">
            {{ form_label(contactForm.name) }}
            {{ form_widget(contactForm.name, {'attr': {'placeholder': 'form.contact.name.placeholder'|trans }}) }}
        </div>
        <div class="col-lg-6">
            {{ form_label(contactForm.email) }}
            {{ form_widget(contactForm.email, {'attr': {'placeholder': 'form.contact.email.placeholder'|trans }}) }}
        </div>
        <div class="col-lg-12">
            {{ form_label(contactForm.subject) }}
            {{ form_widget(contactForm.subject, {'attr': {'placeholder': 'form.contact.subject.placeholder'|trans }}) }}
        </div>
        <div class="col-lg-12">
            {{ form_label(contactForm.message) }}
            {{ form_widget(contactForm.message, {'attr': {'placeholder': 'form.contact.message.placeholder'|trans }}) }}
        </div>
        <div class="col-lg-2">
            {{ form_row(contactForm.submit) }}
        </div>
        {{ form_end(contactForm) }}
    </div>
</section>