{% extends '@App/base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets
        'bundles/app/css/impressum.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

{% block pagetitle %}Impressum | {{ 'base.meta.title'|trans }}{% endblock %}

{% block bodyclass %}impressum{% endblock %}

{% block body %}
    {% include '@App/nav.html.twig' with {'index': false} %}
    <div class="container header">
        <div class="row">
            <section class="col-lg-12">
                <h1>Datenschutz & Richtlinien</h1><br>
                <h2>Prämisse</h2>
                <p>Alle Inhalte auf dieser Seite sind, sofern nicht anders gekennzeichnet, geistiges Eigentum von
                    Barthélémy Bonhomme oder der jeweiligen Künstler (folgend: "Wir", "Uns").</p>
                <p>Inhalte der teilnehmen Künstler sind mit Erlaubnis der Urheber hochgeladen und zum
                    Download bereitgestelt.</p>
                <p>Das Kopieren, Vervielfältigen oder Einbetten jeglicher Inhalte bedarf einer schriftlichen
                    Einverständniserklärung.</p>
                <p>Die zum Download stehenden Alben dürfen nicht verkauft oder zu diffamierenden
                    Zwecken verwendet werden.<br>
                    Darunter gehören unter anderem aber nicht ausschließlich die Verbreitung von Rassismus, Xenophobie,
                    Feindlichkeit gegenüber jedweder Gruppe von Menschen, Tieren, Pflanzen, Steinen und sonstigen sich
                    in diesem Universum befindlichen Entitäten.</p>
                <p>Wir rufen zur Verbreitung von Liebe und Frieden auf und hoffen unseren Teil dazu beizutragen.</p>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12">
                <h3>Google Analytics</h3>
                <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).</p>
                <p>Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und
                    die eine Analyse der Benutzung der Website durch Sie ermöglichen.</p>
                <p>Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel
                    an einen Server von Google in den USA übertragen und dort gespeichert.</p>
                <p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google
                    jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
                    Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle
                    IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.</p>
                <p>Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung
                    der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit
                    der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem
                    Websitebetreiber zu erbringen.</p>
                <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen
                    Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende
                    Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem
                    Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen
                    können.</p>
                <p>Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der
                    Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch
                    Google verhindern, indem Sie das unter dem folgenden Link
                    (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin herunterladen und
                    installieren.</p>

                <p>Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es
                    wird ein Opt-Out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website
                    verhindert:</p>
                <p><a class="opt-out">Google Analytics deaktivieren</a></p>

                <p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter
                    http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/.
                    Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code „anonymizeIp“
                    erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu
                    gewährleisten.</p>

                <p>Quelle: <a href="http://www.datenschutzbeauftragter-info.de" rel="nofollow">www.datenschutzbeauftragter-info.de</a>
                </p>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12">
                <h3>Cookies</h3>
                <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf Ihrem Rechner
                    keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
                    nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf
                    Ihrem Rechner abgelegt werden und die Ihr Browser speichert.</p>
                <p>Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach
                    Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert,
                    bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch
                    wiederzuerkennen.</p>
                <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden
                    und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder
                    generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browser
                    aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website
                    eingeschränkt sein.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Server-Log-Files</h3>
                <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log
                    Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
                <ul>
                    <li><p>Browsertyp/ Browserversion</p></li>
                    <li><p>verwendetes Betriebssystem</p></li>
                    <li><p>Referrer URL</p></li>
                    <li><p>Hostname des zugreifenden Rechners</p></li>
                    <li><p>Uhrzeit der Serveranfrage</p></li>
                </ul>
                <p>Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit
                    anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu
                    prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Datenschutzerklärung für die Nutzung von Facebook-Plugins (Share-Button)</h3>
                <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue,
                    Palo Alto, CA 94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder
                    dem "Share-Button" ("Teilen“) auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden
                    Sie hier: <a href="http://developers.facebook.com/docs/plugins/" target="_blank" rel="nofollow">http://developers.facebook.com/docs/plugins/</a>
                    Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem
                    Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie
                    mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook „Share-Button“ anklicken
                    während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf
                    Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem
                    Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis
                    vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere
                    Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a
                            href="https://de-de.facebook.com/policy.php" target="_blank" rel="nofollow">https://de-de.facebook.com/policy.php</a>
                </p>
                <p>Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto
                    zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                <h3>Datenschutzerklärung für die Nutzung von Twitter</h3>
                <p>Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden
                    angeboten durch die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA.
                    Durch das Benutzen von Twitter und der "Tweet" Funktion werden die von Ihnen besuchten Webseiten
                    mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten
                    an Twitter übertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis
                    vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere
                    Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter <a
                            href="http://twitter.com/privacy" target="_blank"
                            rel="nofollow">http://twitter.com/privacy</a>.
                </p>
                <p>Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter <a
                            href="http://twitter.com/account/settings" target="_blank" rel="nofollow">http://twitter.com/account/settings</a>
                    ändern.</p>
                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12">

            </section>
        </div>
    </div>
    {% include '@App/footer.html.twig' %}
{% endblock %}

{% block bodyscripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/datenschutz.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}