{% extends '@App/base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets
        'bundles/app/css/impressum.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

{% block pagetitle %}Impressum | {{ 'base.meta.title'|trans }}{% endblock %}

{% block bodyclass %}impressum{% endblock %}

{% block body %}
    {% include '@App/nav.html.twig' with {'index': false} %}
    <div class="container header">
        <div class="row">
            <section class="col-lg-12">
                <h1>Datenschutz & Richtlinien</h1>
                <p>Alle Inhalte auf dieser Seite sind, sofern nicht anders gekennzeichnet, geistiges Eigentum von
                    Barthélémy Bonhomme oder der jeweiligen Künstler (folgend: "Wir", "Uns").</p>
                <p>Inhalte der teilnehmen Künstler sind mit Erlaubnis der Urheber hochgeladen und nach einer Spende zum
                    Download bereitgestelt.</p>
                <p>Das Kopieren, Vervielfältigen oder Einbetten jeglicher Inhalte bedarf es einer schriftlichen
                    Einverständniserklärung.</p>
                <p>Die nach einer Spende zum Download stehenden Alben dürfen nicht verkauft oder zu diffamierenden
                    Zwecken verwendet werden.<br>
                    Darunter gehören unter anderem aber nicht ausschließlich die Verbreitung von Rassismus, Xenophobie,
                    Feindlichkeit gegenüber jedweder Gruppe von Menschen, Tieren, Pflanzen, Steinen und sonstigen sich
                    in diesem Universum befindlichen Entitäten.</p>
                <p>Wir rufen zur Verbreitung von Liebe und Frieden auf. Mit größtem Vergnügen stellen wir diese Inhalte
                    nach einer offiziellen Anfrage jedem zur Verfügung der ebenfalls danach strebt.</p>
            </section>
        </div>
        <div class="row">
            <section class="col-lg-12">
                <h2>Google Analytics</h2>
                <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).</p>
                <p>Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen.</p>
                <p>Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>
                <p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.</p>
                <p>Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.</p>
                <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.</p>
                <p>Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin herunterladen und installieren.</p>

                <p>Sie können die Erfassung durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Website verhindert:</p>
                <p><a class="opt-out">Google Analytics deaktivieren</a></p>

                <p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter http://www.google.com/analytics/terms/de.html bzw. unter https://www.google.de/intl/de/policies/. Wir weisen Sie darauf hin, dass auf dieser Website Google Analytics um den Code „anonymizeIp“ erweitert wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten.</p>

                <p>Quelle: <a href="http://www.datenschutzbeauftragter-info.de" rel="nofollow">www.datenschutzbeauftragter-info.de</a></p>
            </section>
        </div>
    </div>
    {% include '@App/footer.html.twig' %}
{% endblock %}

{% block bodyscripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/datenschutz.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}