{% extends 'AppBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block pagetitle %}{{ 'donate'|trans }} | {{ 'base.meta.title'|trans }}{% endblock %}
{% block bodyclass %}donate{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/css/donate.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'AppBundle::nav.html.twig' with {'index': false} %}
    <div class="container main">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'donate'|trans }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ 'donate.p'|trans|raw|nl2br }}</p>
            </div>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <h2>{{ 'donate.data.label'|trans }}</h2>
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.email) }}
                <div>
                    <span>
                        <span class="fa fa-info">
                            <span class="sr-only">info</span>
                        </span>
                        {{ 'donate.email.placeholder'|trans }}
                    </span>
                </div>
                {{ form_widget(form.email, {'attr': {'placeholder': 'exampleEmail'|trans }}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.amount) }}
                <div>
                    <span>
                        <span class="fa fa-info">
                            <span class="sr-only">info</span>
                        </span>
                        {{ 'donate.amount.help'|trans }}
                    </span>
                </div>
                {{ form_widget(form.amount) }}
            </div>

            <h3>{{ 'donate.braintree.h3'|trans }}</h3>
            <p>{{ 'donate.braintree.info'|trans }}</p>
            <div id="payment-form"></div>

            <input type="submit" id="donation-submit" class="submit btn btn-primary" value="{{ 'donate'|trans }}">
            {{ form_end(form) }}
            <div class="col-lg-8">
                <h2>{{ 'donate.albums.label'|trans }}</h2>
                <div>
                    {% for album in donation.albums %}
                        <div class="album">
                            <div class="cover">
                                <img src="{{ web_image(album.cover.webPath) }}">
                            </div>
                            <div>
                                <p><b>{{ album.title }}</b></p>
                                <p>{{ album.artist }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <input id="braintree-token" type="hidden" value="{{ clientToken }}">
    {% include '@App/footer.html.twig' %}
{% endblock %}

{% block bodyscripts %}
    <script src="https://js.braintreegateway.com/js/braintree-2.29.0.min.js"></script>
    {% javascripts
    'bundles/app/plugins/autoNumeric-min.js'
    'bundles/app/js/donate.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}