{% import '@App/macros/icons.html.twig' as icons %}

<footer class="footer container-fluid py-5">
    <a class="rounded-circle btn-top" href="#">
        <span>
            {{ icons.render('up', 'primary') }}
            <i class="sr-only">{{ 'to_the_top'|trans }}</i>
        </span>
    </a>
    <section class="row text-center py-2">
        <div class="col-12">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-muted" href="{{ path('impressum') }}">{{ 'footer.link.impressum'|trans }}</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-muted" href="{{ path('datenschutz') }}">{{ 'footer.link.datenschutz'|trans }}</a>
                </li>
            </ul>
            <p>© 2016-2017 Barthélémy Bonhomme</p>
            <small class="made-with-love">
                {{ 'madewith'|trans }}
                <span>
                    {{ icons.render('heart', 'primary') }}
                </span>
                {{ 'incologne'|trans }}
            </small>
        </div>
    </section>
</footer>