<footer class="footer container-fluid py-5">
    <a class="rounded-circle btn-top" href="#">
        <span class="fa fa-fw fa-chevron-up">
            <i class="sr-only">{{ 'to_the_top'|trans }}</i>
        </span>
    </a>
    <section class="row text-center py-2">
        <div class="col-12">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-muted" href="{{ path('impressum') }}">{{ 'footer.link.impressum'|trans }}</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-muted" href="{{ path('datenschutz') }}">{{ 'footer.link.datenschutz'|trans }}</a>
                </li>
            </ul>
            <p>© 2016-2017 Barthélémy Bonhomme</p>
            <small>
                {{ 'madewith'|trans }}&nbsp;
                <span class="fa fa-heart">
                    <i class="sr-only">{{ 'love'|trans }}</i>
                </span> {{ 'incologne'|trans }}
            </small>
        </div>
    </section>
</footer>