{% extends '@App/base.html.twig' %}

{% import '@App/macros/social-link.html.twig' as socialLink %}
{% import '@App/macros/icons.html.twig' as icons %}

{% block body %}

    {% include '@App/nav.html.twig' with {'index': true} %}

    <header class="container-fluid text-center" id="intro">
        <div class="row align-items-center page-title">
            <div class="col">
                <div class="sr sr-t-1">
                    <h2 class="text-center">{{ 'index.page-title.2'|trans|nl2br }}</h2>
                    <h1 class="mt-2 mb-0">
                        {{ 'index.page-title.1.1'|trans }}&nbsp;<strong>{{ 'index.page-title.1.2'|trans }}</strong>
                    </h1>
                </div>
                <div class="sr sr-b-2">
                    <a href="{{ 'nav.projekt.href'|trans }}" class="btn btn-primary btn-shadow btn-lg">
                        {{ 'readmore'|trans }}
                    </a>
                </div>
            </div>
            <div class="arrow-bounce pb-3 sr sr-b-3">
                <a href="#{{ 'nav.projekt.id'|trans }}">
                    {{ icons.render('down', 'white') }}
                </a>
            </div>
        </div>
    </header>

    <section class="intro container pt-5" id="{{ 'nav.projekt.id'|trans }}">
        <div class="row py-2">
            <div class="col text-center">
                <h2>{{ 'index.h1'|trans }}</h2>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-md-8 text-center">
                <p class="text-big">{{ 'index.p.description'|trans|raw|nl2br }}</p>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-md-8 text-center">
                <a class="btn btn-lg btn-outline-primary sr sr-b-1 mb-3 mb-md-0" href="{{ 'nav.artists.href'|trans }}">
                    <span class="mr-1">
                        {{ icons.render('group', 'primary') }}
                    </span>
                    {{ 'index.a.see_all_artists'|trans }}
                </a>
                <a class="btn btn-lg btn-primary btn-shadow sr sr-b-1 donate-external" target="_blank"
                   href="{{ path('donate_external') }}">
                    {{ 'donate'|trans }}
                    <span class="ml-1">
                        {{ icons.render('external-link', 'white') }}
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="portrait container py-5">
        <div class="row py-2">
            <div class="col text-center">
                <h2>{{ 'current.portrait'|trans }}</h2>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6">
                <a href="https://festival.keinegrenzen.org" rel="nofollow noopener">
                    <img class="img-fluid" src="https://festival.keinegrenzen.org/images/banner.png?v=3"
                         title="keinegrenzen Festival">
                </a>
            </div>
            <div class="col-md-6 mt-3 mt-md-0 align-self-center">
                <h3>keinegrenzen Festival</h3>
                <p class="lead">Am 19. Januar 2019 veranstalten wir ein gemeinn&uuml;tziges Festival im K&ouml;lner Stadtgarten.
                    Dabei wird jeglicher Gewinn ebenfalls an &Auml;rzte ohne Grenzen gespendet.</p>
                <p>
                    <a title="{{ 'readmore'|trans }}" href="https://festival.keinegrenzen.org"
                       class="btn btn-primary btn-lg">
                        {{ 'readmore'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </section>

    <section class="statistics container-fluid p-3" id="{{ 'nav.donate.id'|trans }}">
        <div class="row p-md-5">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-md-5 sr sr-t-1">
                <span class="double">
                    <strong class="counter">{{ total }}</strong>€
                </span>
                <br>
                <span>{{ 'index.donation.total.1'|trans }}</span>
                <span>{{ 'index.donation.total.2'|trans }}</span>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 p-md-5">
                <div class="col-lg-12 text-right sr sr-t-2">
                    <span class="double"><strong class="counter">{{ count }}</strong></span>
                    <br>
                    <span>{{ 'index.donation.count.1'|trans }}</span>
                    <span>{{ 'index.donation.count.2'|trans }}</span>
                </div>
                <div class="col-lg-12 text-right mt-5 sr sr-b-3">
                    <span class="double">
                        <strong class="counter">{{ downloadCount }}</strong>
                    </span>
                    <br>
                    <span>{{ 'index.donation.dls.1'|trans }}</span>
                    <span>{{ 'index.donation.dls.2'|trans }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="artists container py-5" id="{{ 'nav.artists.id'|trans }}">
        <div class="row py-2">
            <div class="col text-center">
                <h2>{{ 'nav.artists'|trans }}</h2>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="text-big">{{ 'artists.p.description'|trans|nl2br }}</p>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-lg-12 text-center">
                <div role="group" aria-label="{{ 'artist_filters'|trans }}">
                    <button type="button" class="btn btn-outline-dark genre-filter active m-1" data-filter="*">
                        {{ 'artists.genreFilter.clear'|trans }}
                        &nbsp;<span class="badge badge-light">{{ profiles|length }}</span>
                    </button>

                    {% for genre in genres %}
                        <button type="button" class="btn btn-outline-dark genre-filter m-1"
                                data-filter=".{{ genre.slug }}">
                            {{ genre.name }}
                            &nbsp;<span class="badge badge-light">{{ genre.profileCount }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row py-2 artists-row">
            {% for profile in profiles %}
                <div class="{{ loop.index is same as(1) ? 'grid-sizer':'' }} {{ genres[profile.genre].slug }} col-lg-4 col-sm-6 text-center artist-col my-3"
                     itemscope itemtype="http://schema.org/MusicGroup">
                    <h3 class="artist-name" itemprop="name">{{ profile.name }}</h3>
                    <div class="artist-preview my-3">
                        <a href="{{ path('profile_show', {UURL: profile.UURL}) }}" title="{{ profile.name }}"
                           class="artist-img d-flex justify-content-center align-items-center align-content-center">
                            <img data-src="{{ asset(profile.profileImage.webPath) }}"
                                 title="{{ profile.name }} - {{ 'frontpage.image'|trans }}" itemprop="image">
                        </a>
                        <p class="artist-genre my-2" itemprop="genre">{{ profile.genre }}</p>
                        <ul class="list-inline my-3 text-muted">
                            {{ socialLink.sortAndRender(profile.links) }}
                        </ul>
                        <a href="{{ path('profile_show', {UURL: profile.UURL}) }}" title="{{ 'readmore'|trans }}"
                           class="btn btn-outline-primary mb-3 sr sr-b-1" itemprop="url">
                            {{ 'readmore'|trans }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="support container-fluid d-flex py-5" id="{{ 'nav.support.id'|trans }}">
        <div class="row align-self-center">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <div class="col">
                    <h2 class="my-2">{{ 'nav.support'|trans }}</h2>
                    <p class="text-big p-5 my-2">{{ 'support.p'|trans }}</p>
                    <a class="btn btn-tw btn-lg my-2 sr sr-b-1" href="https://twitter.com/keinegrenzenOrg"
                       rel="nofollow"
                       target="_blank" title="{{ 'support.tw.title'|trans }}">
                        <span>
                            {{ icons.render('twitter', 'white') }}
                        </span>
                        {{ 'support.tw.title'|trans }}
                    </a>
                    <a class="btn btn-fb btn-lg my-2 sr sr-b-1" href="https://www.facebook.com/keinegrenzenOrg/"
                       rel="nofollow"
                       target="_blank" title="{{ 'support.fb.title'|trans }}">
                        <span>
                            {{ icons.render('facebook', 'white') }}
                        </span>
                        {{ 'support.fb.title'|trans }}
                    </a>
                    <a class="btn btn-insta btn-lg my-2 sr sr-b-1" href="https://www.instagram.com/keinegrenzen_org/"
                       rel="nofollow"
                       target="_blank" title="{{ 'support.insta.title'|trans }}">
                        <span>
                            {{ icons.render('instagram', 'white') }}
                        </span>
                        {{ 'support.insta.title'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include '@App/footer.html.twig' %}

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/vendor/lazyload.min.js') }}"></script>
        {{ parent() }}
    {% endblock %}