{% extends '@AppBundle/Resources/views/base.html.twig' %}

{% block bodyclass %}index{% endblock %}

{% block stylesheets %}
    {% stylesheets
    'bundles/app/css/index.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid header fill text-center">
        <div class="row fill-height">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 page-title-container">
                <div>
                    <span class="page-title">{{ 'index.page-title.1.1'|trans }} <strong>{{ 'index.page-title.1.2'|trans }}</strong></span>
                    <br/>
                    <span class="page-title">{{ 'index.page-title.2.1'|trans }} <strong>{{ 'index.page-title.2.2'|trans }}</strong></span>
                    <br/>
                    <span class="page-title under-construction"><strong>Coming soon!</strong></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}