{% import '@App/macros/icons.html.twig' as icons %}

<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{{ (index)?'#':'/' }}">
        {{ icons.render('logo', 'white') }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navicon">
            {{ icons.render('menu', 'white') }}
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.projekt.href'|trans }}">{{ 'nav.projekt'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.artists.href'|trans }}">{{ 'nav.artists'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.support.href'|trans }}">{{ 'nav.support'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link donate-external" target="_blank" href="{{ path('donate_external') }}">
                    {{ 'nav.donate'|trans }}
                    <span class="ml-2">
                        {{ icons.render('external-link', 'white') }}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>