<nav class="navbar navbar-toggleable-md fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-navicon fa-fw">
            <i class="sr-only">Toggle navigation</i>
        </span>
    </button>
    <a class="navbar-brand" href="{{ (index)?'#':'/' }}">
        <img title="{{ 'mwb'|trans }}" alt="{{ 'mwb'|trans }} - Logo"
             src="{{ asset('bundles/app/images/logo_web.png') }}">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.projekt.href'|trans }}">{{ 'nav.projekt'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.artists.href'|trans }}">{{ 'nav.artists'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ (index)?'':'/' }}{{ 'nav.support.href'|trans }}">{{ 'nav.support'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="{{ path('donate_external') }}">
                    {{ 'nav.donate'|trans }}<span class="fa fa-external-link fa-fw ml-2"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>