<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>keingrenzen.org | Planung</title>
        <meta name="author" content="Barthy">
        <link rel="icon" href="{{ asset('bundles/app/images/favicon.png') }}">
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

        {% block stylesheets %}
            {% stylesheets
            'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
            'assets/vendor/font-awesome/css/font-awesome.min.css'
            'bundles/app/css/bartstrap.css'
            'bundles/app/css/calendar.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h1>Planung der Drehtage</h1>
                    <p>Bitte tragt Euch in den Kalender ein. Alle Tage, die nicht ausgegraut sind, sind verfügbar.</p>
                    <p class="user-info" data-name="{{ username }}" data-role="{{ role }}">Eingeloggt als:
                        <strong>{{ username }}</strong></p>
                </div>
            </div>
        </div>
        {% for month in months %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2>{{ month[0].date|localizeddate('none','none', app.debug?"en":"de", "Europe/Berlin", 'LLLL yyyy') }}</h2>
                    </div>
                </div>
                <div class="row">
                    <table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <thead>
                        <tr>
                            <th>MO</th>
                            <th>DI</th>
                            <th>MI</th>
                            <th>DO</th>
                            <th>FR</th>
                            <th>SA</th>
                            <th>SO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for day in month %}
                            {% if loop.index == 1 or day.date|date('l') == 'Monday' %}
                                <tr>
                            {% endif %}

                            {% if loop.index == 1 %}

                                {% for i in 1..(day.date|date('N')-1) %}
                                    <td class="last-month"></td>
                                {% endfor %}

                            {% endif %}

                            {% set available = (day.available and role == 'cam') or (day.available and role == 'art' and day.cameraOp is not empty) %}
                            <td class="{{ day.date|date('l')|lower }} {{ available?'':'disabled' }}">
                                {% if day.available and (role == 'cam' or (role == 'art' and day.cameraOp is not empty)) %}
                                    <div class="btn-calendar" data-id="{{ day.id }}" data-cam="{{ day.cameraOp }}"
                                         data-art="{{ day.artist }}">
                                        <span class="daynr">{{ day.date|date('d') }}</span>
                                        <p><span class="fa fa-fw fa-video-camera"></span>: <span
                                                    class="camop">{{ day.cameraOp }}</span></p>
                                        <p><span class="fa fa-fw fa-microphone"></span>: <span
                                                    class="artist">{{ day.artist }}</span></p>
                                    </div>
                                {% endif %}
                            </td>

                            {% if loop.index == month|length or day.date|date('l') == 'Sunday' %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="btn btn-primary logout" href="{{ path('logout') }}">Ausloggen</a>
                </div>
            </div>
        </div>

        {% block javascripts %}
            {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/calendar.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>

