{% extends 'AppBundle::base.html.twig' %}

{% import '@App/macros/social-link.html.twig' as socialLink %}
{% import '@App/macros/icons.html.twig' as icons %}

{% block pagetitle %}{{ profile.name }} | {{ 'base.meta.title'|trans }}{% endblock %}

{% block description %}
    <meta name="description" content="{{ profile.metaDescription }}">
{% endblock %}

{% block og_image %}
    <meta property="og:image" content="https://www.keinegrenzen.org{{ asset(profile.bannerImage.webPath) }}">
    <meta property="og:image:width" content="1920"/>
    <meta property="og:image:height" content="1080"/>
{% endblock %}

{% block og_description %}
    <meta property="og:description" content="{{ profile.metaDescription }}">
{% endblock %}

{% block bodyschema %}itemscope itemtype="http://schema.org/MusicGroup"{% endblock %}

{% block body %}

    {% include '@App/nav.html.twig' with {'index': false} %}

    <header class="container-fluid profile-header text-center"
            style="background-image: url({{ asset(profile.bannerImage.webPath) }});">
        <div class="row align-items-center justify-content-center page-title sr sr-t-1{{ is_mobile()?'mobile':'' }}">
            {% if not is_mobile() and profile.bannerVideoPath is not null %}
                <div class="video-container">
                    <video autoplay loop>
                        <source src="{{ asset(profile.bannerVideoPath) }}" type="video/mp4">
                        {{ 'no-video'|trans }}
                    </video>
                </div>
            {% endif %}
            <div class="profile-header-content">
                <div class="rounded-circle image-container d-flex justify-content-center align-content-center">
                    <img src="{{ asset(profile.profileImage.webPath) }}"
                         alt="{{ profile.name ~ ' - ' ~ 'frontpage.image'|trans }}" itemprop="image">
                </div>
                <div class="title-container py-4">
                    <div class="d-block">
                        <h1>
                            {% if is_mobile() and profile.shortName is not null %}
                                <strong itemprop="name">{{ profile.shortName }}</strong>
                            {% else %}
                                <strong itemprop="name">{{ profile.name }}</strong>
                            {% endif %}
                        </h1>
                        <hr/>
                        <h2>
                            <strong itemprop="genre">{{ profile.genre }}</strong> {{ 'from'|trans }} {{ profile.location }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="arrow-bounce pb-3 sr sr-b-3">
                <a href="#description">
                    {{ icons.render('down', 'white') }}
                </a>
            </div>
        </div>
        {% if not is_mobile() and profile.youtubeLink is not null %}
            <div class="video-portrait-buttons initially-hidden">
                {% if not is_mobile() %}
                    <a href="#" class="d-block btn btn-lg btn-primary mb-3 play-video">
                        {{ icons.render('play', 'white') }}
                        {{ 'frontpage.video.play'|trans }}
                    </a>
                {% endif %}
                <a href="https://youtube.com/watch?v={{ profile.youtubeLink }}" target="_blank" rel="nofollow"
                   class="d-block btn btn-lg btn-primary">
                    {{ icons.render('youtube', 'white') }}
                    {{ 'frontpage.video.youtube'|trans }}
                </a>
            </div>
        {% endif %}
    </header>

    <section class="container pt-5 artist-bio" id="description">
        <div class="row py-2 align-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 sr sr-b-1">
                <h2>{{ 'profile.h2.bio'|trans }} {{ profile.name }}</h2>
                <ul class="list-inline mb-4">
                    {{ socialLink.sortAndRender(profile.links) }}
                </ul>
                <div class="description text-big" itemprop="description">
                    {{ profile.description|raw }}
                </div>
            </div>
            {% if profile.quotes is not null %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-5 mt-5 sr sr-b-2">
                    <div class="quotes px-5 align-self-center text-big">
                        {{ profile.quotes|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="container pt-5 artist-discography">
        <div class="row py-2 my-2">
            <div class="col-12">
                <h2 class="sr sr-b-1">{{ 'profile.h2.albums'|trans }}</h2>
            </div>
        </div>
        {% for album in profile.albums %}
            {% if album.UURL != 'seele' and album.UURL != 'geschichte' %}
                <div class="row py-2 my-2 sr sr-b-1">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-2 album-art-container">
                        <div class="album-art" itemprop="album" itemscope itemtype="http://schema.org/MusicAlbum"
                             data-uurl="{{ album.UURL }}">
                            <meta itemprop="description" content="{{ album.description }}"/>
                            <meta itemprop="genre" content="{{ profile.genre }}"/>
                            <div class="image-container d-flex justify-content-center align-content-center">
                                <img itemprop="image" data-src="{{ asset(album.cover.webPath) }}"
                                     alt="{{ album.title }} - Cover"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 px-2 album-details-container">
                        <div class="row album-details px-3 py-4 m-0"
                             style="background-color: {{ album.backgroundColor|raw }};
                                     color: {{ album.primaryColor|raw }} !important;
                                     border-color: {{ album.secondaryColor|raw }} !important;"
                        >
                            <div class="col-lg-6">
                                <h3 itemprop="name">{{ album.title }}</h3>
                                <p style="color: {{ album.secondaryColor|raw }} !important">{{ 'published'|trans }}
                                    : {{ album.releaseDate|date('d.m.Y') }}</p>
                                <div class="description text-big">
                                    {{ album.description|raw }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                {% if album.UURL == 'luxus' %}
                                    <h4 class="mb-4">Video</h4>
                                    <div class="embed-responsive embed-responsive-16by9 mb-4">
                                        <iframe title="ENNA feat &lbrack;lu&rbrack; &mdash; Luxus"
                                                class="embed-responsive-item"
                                                src="https://www.youtube.com/embed/KxA-CKQ8XoQ?controls=0&showinfo=0&rel=0"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                                <div class="row tracklist-title mb-2">
                                    <h4 class="col-9">{{ 'tracklist'|trans }}</h4>
                                    <a class="col-3 text-right"
                                       href="{{ album.soundCloudLink|raw }}"
                                       target="_blank" title="{{ 'listenOnSc'|trans }}">
                                        {{ icons.render('soundcloud', 'orange') }}
                                        <i class="sr-only">{{ 'listenOnSc'|trans }}</i>
                                    </a>
                                </div>
                                <div class="album-embed" id="album-embed-{{ loop.index0 }}"
                                     data-color-secondary="{{ album.secondaryColor|raw }}"
                                     data-sc="{{ album.soundCloudLink|raw }}" data-title="{{ album.title }}">
                                    <div class="album-list">
                                        <ul class="list-group"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                {% if album.UURL == 'luxus' %}
                                    <a class="btn btn-primary pull-right toggle-dl-dialog mt-4 donate-external"
                                       target="_blank"
                                       href="{{ path('donate_external') }}" rel="nofollow"
                                       data-url="{{ path("download_album", {UURL: 'geschichte'}) }}"
                                    >
                                        &quot;Geschichte&quot; {{ 'download'|trans }}
                                    </a>
                                    <a class="btn btn-primary pull-right toggle-dl-dialog mt-4 donate-external"
                                       target="_blank" data-uurl="{{ album.UURL }}"
                                       href="{{ path('donate_external') }}" rel="nofollow"
                                       data-url="{{ path("download_album", {UURL: 'luxus'}) }}"
                                    >
                                        &quot;Luxus&quot; {{ 'download'|trans }}
                                    </a>
                                    <a class="btn btn-primary pull-right toggle-dl-dialog mt-4 donate-external"
                                       target="_blank"
                                       href="{{ path('donate_external') }}" rel="nofollow"
                                       data-url="{{ path("download_album", {UURL: 'seele'}) }}"
                                    >
                                        &quot;Seele&quot; {{ 'download'|trans }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-primary pull-right toggle-dl-dialog mt-4 donate-external"
                                       target="_blank" data-uurl="{{ album.UURL }}"
                                       href="{{ path('donate_external') }}" rel="nofollow"
                                       data-url="{{ path("download_album", {UURL: album.UURL}) }}"
                                    >
                                        {{ 'donate'|trans }} &amp; {{ 'download'|trans }}
                                        <span class="badge badge-white">{{ album.downloads }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <div class="container py-5">
        <div class="row py-2 my-5 global-player">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <span class="player-control backward">
                    {{ icons.render('previous', 'gray') }}
                    <i class="sr-only">{{ 'backward'|trans }}</i>
                </span>
                <span class="player-control play">
                    {{ icons.render('play', 'gray') }}
                    <i class="sr-only">{{ 'play'|trans }}</i>
                </span>
                <span class="player-control pause initially-hidden">
                    {{ icons.render('pause', 'gray') }}
                    <i class="sr-only">{{ 'pause'|trans }}</i>
                </span>
                <span class="player-control forward">
                    {{ icons.render('next', 'gray') }}
                    <i class="sr-only">{{ 'forward'|trans }}</i>
                </span>
            </div>
            <div class="col-md-8 d-none d-md-block progress-container">
                <div class="progress">
                    <div class="progress-bar active" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-8 col-xs-6 text-right">
                <p><span class="now-playing-elapsed"></span>/<span class="now-playing-length"></span></p>
            </div>
            <hr class="w-100"/>
            <div class="col-md-10 offset-md-2 col-xs-12">
                <p><span class="now-playing-album text-primary"></span> - <span class="now-playing-song"></span></p>
            </div>
        </div>
    </div>

    {% if profile.youtubeLink is not null %}
        <div class="youtube-video initially-hidden" data-id="{{ profile.youtubeLink }}">
            <div id="youtube-video"></div>
            <a class="btn btn-lg btn-primary dismiss-video" href="#">{{ 'frontpage.video.dismiss'|trans }}</a>
        </div>
    {% endif %}
    {% include '@App/dialog.html.twig' %}
    {% include '@App/footer.html.twig' %}
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/vendor/soundcloud-audio.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/lazyload.min.js') }}"></script>
        <script src="{{ asset('assets/js/profile.min.js') }}"></script>
        {% if not is_mobile() and profile.youtubeLink is not null %}
            <script src="https://www.youtube.com/iframe_api"></script>
        {% endif %}
        {{ parent() }}
    {% endblock %}