{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Profiles list</h1>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-12">
                <a class="btn btn-success" href="{{ path('admin_profile_new') }}">Create a new profile</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Public</th>
                        <th scope="col">Uurl</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in profiles %}
                        <tr>
                            <td><a href="{{ path('profile_show', { 'UURL': profile.uURL }) }}">{{ profile.id }}</a>
                            </td>
                            <td>{{ profile.name }}</td>
                            <td>{{ profile.genre }}</td>
                            <td>{% if profile.public %}Yes{% else %}No{% endif %}</td>
                            <td>{{ profile.UURL }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-primary"
                                       href="{{ path('profile_show', { 'UURL': profile.uURL }) }}">
                                        View
                                    </a>
                                    <a class="btn btn-warning"
                                       href="{{ path('admin_profile_edit', { 'id': profile.id }) }}">
                                        Edit
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row my-2">
            <div class="col-lg-12">
                <a class="btn btn-success" href="{{ path('admin_profile_new') }}">Create a new profile</a>
            </div>
        </div>
    </div>
{% endblock %}
