{#{% extends 'base.html.twig' %}#}

{% block body %}
    <h1>Profile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ profile.name }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ profile.shortName }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ profile.location }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ profile.genre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ profile.description }}</td>
            </tr>
            <tr>
                <th>Quotes</th>
                <td>{{ profile.quotes }}</td>
            </tr>
            <tr>
                <th>Metadescription</th>
                <td>{{ profile.metaDescription }}</td>
            </tr>
            <tr>
                <th>Bannervideopath</th>
                <td>{{ profile.bannerVideoPath }}</td>
            </tr>
            <tr>
                <th>Youtubelink</th>
                <td>{{ profile.youtubeLink }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{% if profile.public %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Uurl</th>
                <td>{{ profile.UURL }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_profile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_profile_edit', { 'id': profile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
