{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {% if message is defined %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form_label(form.subject) }}
                    {{ form_errors(form.subject) }}
                    {{ form_widget(form.subject) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(form.from) }}
                    {{ form_errors(form.from) }}
                    {{ form_widget(form.from) }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(form.to) }}
                    {{ form_errors(form.to) }}
                    {{ form_widget(form.to) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    {{ form_label(form.text) }}
                    {{ form_errors(form.text) }}
                    {{ form_widget(form.text) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

