{% block extends %}
    {{ "{% extends 'AdminBundle::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block body %}" }}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ entity_pluralized|capitalize }} list</h1>
            </div>
        </div>

        {% if 'new' in actions -%}

            <div class="row my-2">
                <div class="col-lg-12">
                    <a class="btn btn-success" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Create a
                        new {{ entity_singularized }}</a>
                </div>
            </div>

        {%- endif %}

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        {%- for field, metadata in fields %}

                            <th scope="col">{{ field|capitalize }}</th>

                        {%- endfor %}

                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                    <tr>

                        {%- for field, metadata in fields %}
                            {%- if loop.first and ('show' in actions) %}

                                <td>
                                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a>
                                </td>

                            {%- elseif metadata.type in ['datetime'] %}

                                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                            {%- elseif metadata.type in ['date'] %}

                                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                            {%- elseif metadata.type in ['time'] %}

                                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                            {%- elseif metadata.type in ['array'] %}

                                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                            {%- elseif metadata.type in ['boolean'] %}

                                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                            {%- else %}

                                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                            {%- endif %}

                            {%- if loop.last %}

                                <td>
                                    <ul>

                                        {%- for action in record_actions %}

                                            <li>
                                                <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ action }}</a>
                                            </li>

                                        {%- endfor %}

                                    </ul>

                                    <div class="btn-group" role="group">
                                        {%- for action in record_actions %}

                                            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ action|capitalize }}</a>

                                        {%- endfor %}

                                        <a class="btn btn-warning"
                                           href="{{ path('admin_profile_edit', { 'id': profile.id }) }}">
                                            Edit
                                        </a>
                                    </div>
                                </td>

                            {%- endif %}
                        {%- endfor %}

                    </tr>
                    {{ '{% endfor %}' }}
                    </tbody>
                </table>
            </div>
        </div>

        {% if 'new' in actions -%}

            <div class="row my-2">
                <div class="col-lg-12">
                    <a class="btn btn-success" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">Create a
                        new {{ entity_singularized }}</a>
                </div>
            </div>

        {%- endif %}

    </div>

    {{ "{% endblock %}" }}
{% endblock body %}
